body {
    margin: 36px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 20px;
    color: #444;
    padding: 0 10px;
    background: #EEE;
}

footer {
  font-size: 16px;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

pre {
    white-space: pre-wrap;
    background: #DDE;
    font-size: 16px;
}

code {
    background: #DDE;
}
